nav ul li{
    display: inline-block;
    list-style: none;
    width: 8%;
}
nav{
    display: inline-block;
    color: white;
    background-color: black;
    font-family: sans-serif;
    width: 100%;
    margin-top: 0%;
    padding: 0;
}
body{
    margin: 0;
}
h2{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    position: relative; left: -200px;
  
}
span{
    font-size: 10px;
    color: blue;
}
img{
    width: 100%;
}
